/* Scss Document X-Team */
@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto");
html, body {
  height: 100%;
  position: relative; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

#masterX #pageX {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  backtround-size: cover; }

.pr-0 {
  padding-right: 0; }

.p-0 {
  padding: 0; }

.m-0 {
  margin: 0; }

.mt-10 {
  margin-top: 10px; }

h3 {
  color: #1b75bc; }

.fontAwesomeX, #footer-content .siteMapX h4:before, #footer-content .siteMapX a:before, .bodyX .titlesAccordionX h3 a:before, .bodyX .contentAccordionX h4 a:before, .bodyX .contentAccordionX h4 a.activeLink:before, .bodyX .accordionX .panel-heading h4:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 3px;
  vertical-align: baseline; }

.activeLink {
  font-weight: 600;
  color: #ec509a; }

.inActiveLinks {
  color: #6D6E72; }

.visibilityHidden {
  visibility: hidden; }

a {
  color: #1b75bc;
  text-decoration: none; }
  a:hover, a:focus {
    color: #ec509a;
    text-decoration: none; }

iframe {
  margin: 30px 0 0 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: futurastd, Arial;
  vertical-align: baseline;
  width: 100%;
  height: 650px; }

.img-responsive {
  width: 100%; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: right;
  min-width: 200px;
  padding: 15px 0px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #292929;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 8px; }

.btn-link:hover, .btn-link:focus {
  color: #0f75bd !important;
  text-decoration: none; }

#background-carousel {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0; }

.carousel,
.carousel-inner {
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden; }

.item {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  z-index: 0; }

.carousel-caption h3 {
  position: absolute;
  left: -20%;
  background: rgba(168, 169, 173, 0.42);
  padding: 20px;
  float: left;
  font-size: 3em;
  bottom: 320%;
  color: #fff; }
  @media (max-width: 768px) {
    .carousel-caption h3 {
      font-size: 2em;
      left: 0;
      bottom: 350%; } }

.carousel p {
  position: absolute;
  left: 0%;
  background: rgba(168, 169, 173, 0.42);
  padding: 20px;
  float: left;
  font-size: 1.8em;
  bottom: 120%; }
  @media (max-width: 768px) {
    .carousel p {
      font-size: 1.2em;
      left: 0;
      bottom: 120%; } }

header {
  background-color: rgba(255, 255, 255, 0.82);
  padding: 6px 0 6px 0;
  z-index: 1000000;
  position: relative;
  border-bottom: 3px solid rgba(0, 0, 0, 0.22); }

.header-top .btn {
  padding-left: 0px; }

.header-top-menu {
  font-size: 12px; }
  .header-top-menu li {
    padding-top: 7px;
    padding-bottom: 7px; }
  .header-top-menu li:hover {
    text-decoration: none; }
  .header-top-menu ul {
    margin-bottom: 0px;
    padding-left: 0; }
  .header-top-menu ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #6D6E72; }
  .header-top-menu ul li a:hover {
    color: #0f75bd !important; }

.header-top-phone a {
  font-size: 16px;
  font-family: "Roboto", sans-serif !important;
  text-decoration: none;
  color: #6D6E72; }
.header-top-phone:hover {
  color: #0f75bd !important;
  text-decoration: none; }
.header-top-phone i {
  margin-right: 5px; }

.header-top-search {
  padding-right: 0;
  padding-left: 22px;
  padding-top: 5px;
  padding-bottom: 5px; }
  .header-top-search input {
    padding: 2px 12px;
    height: 26px;
    border-radius: 27px !important;
    border: none;
    color: #000 !important;
    float: left;
    margin: 0;
    width: 99%; }
    .header-top-search input:focus + span {
      z-index: 3; }
  .header-top-search button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    top: -1px;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
    .header-top-search button:hover, .header-top-search button:focus, .header-top-search button:active, .header-top-search button:active:hover {
      background-color: transparent;
      border-color: transparent; }

.navX {
  margin-bottom: 0; }
  .navX.navbar-default {
    background-color: transparent;
    border-color: transparent; }
  .navX .navbar-brand {
    padding: 0px 15px;
    height: auto;
    margin-right: 20px; }
  .navX .navbar-toggle.collapsed {
    margin-top: 18px; }
  .navX .topLevelX > a {
    padding-top: 26px !important;
    padding-bottom: 26px !important; }
  .navX .navbar-nav li a {
    border-left: none;
    border-right: none;
    transition: all 0.3s ease-in-out 0s;
    padding: 4px 17px;
    color: #6D6E72;
    font-family: "Roboto", sans-serif;
    font-size: 16px; }
  .navX .navbar-nav li a:hover {
    color: #1d8cda;
    background: #292929; }
  .navX .nav > li > a:focus, .navX .nav > li > a:hover, .navX .nav > li > a:focus {
    background: none;
    outline: none;
    background-color: none; }
  .navX .navbar-nav > li > .dropdown-menu {
    display: none; }
  .navX .navbar-nav > li:hover > .dropdown-menu {
    display: block;
    border-radius: 8px;
    background-color: #292929; }
  .navX .navbar-nav > li:hover > .dropdown-menu li {
    padding: 7px 0; }
  .navX .navbar-nav > li:hover > .dropdown-menu li a {
    font-size: 15px; }
  .navX .dropdown-menu > li > a {
    white-space: normal; }
  .navX .dropdown-menu > li > a {
    color: #fff !important; }
  .navX .dropdown-menu > li > a:hover {
    color: #4599d4 !important; }
  .navX .dropdown-menu > li > a > img {
    display: none; }
  .navX .dropdown-menu li a:hover img {
    display: block;
    position: absolute;
    left: 90%;
    height: 100%;
    background: #292929;
    padding: 20px;
    top: 0;
    border-radius: 8px; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent; }

#footerHome {
  background: rgba(62, 62, 62, 0.63);
  bottom: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 0 4px 0; }
  #footerHome.footerHomeX {
    position: absolute; }
  #footerHome a {
    text-decoration: none;
    text-align: right;
    font-size: 13px;
    color: #fff;
    line-height: 37px; }
  #footerHome a img {
    padding: 10px;
    display: inline-block; }
  #footerHome a:hover, #footerHome a:focus, #footerHome a:active {
    color: #ec509a;
    text-decoration: none !important; }
  #footerHome ul {
    list-style: none;
    text-align: center;
    padding-left: 0; }
  #footerHome ul li {
    display: inline-block;
    margin: 0 10px; }
  #footerHome ul li a {
    font-size: 16px;
    transition: .3s; }
  #footerHome .partners-ul {
    position: relative;
    list-style: none;
    text-align: center; }
  #footerHome .partners-ul li {
    text-align: center;
    display: inline-block; }
  #footerHome .partners-ul li .partner-dropup {
    display: none;
    position: fixed;
    opacity: 0;
    bottom: -250px;
    width: 100%;
    transition: .5s;
    background: #1b1b1b;
    border-radius: 8px;
    padding: 50px 0 5px;
    border: 1px solid #131313; }
  #footerHome .partners-carousel-title {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    margin-bottom: 20px; }
  #footerHome .owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y; }
  #footerHome .partners-ul li:hover .partner-dropup {
    display: block;
    opacity: 1;
    bottom: 0px;
    left: 0;
    z-index: 99999999999999999; }
  #footerHome p {
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    line-height: 37px; }

#moving-monuments {
  position: relative;
  width: 100%;
  background-image: url("../images/monumentsBg.png");
  background-position: center;
  background-repeat: repeat-x; }
  #moving-monuments + div {
    background-color: #363636; }

#footer-content {
  color: #fff; }
  #footer-content .siteMapX h4:before {
    content: "\f072"; }
  #footer-content .siteMapX ul {
    list-style-type: none;
    padding-left: 30px; }
  #footer-content .siteMapX li {
    margin-top: 20px; }
  #footer-content .siteMapX a:before {
    content: "\f054"; }

.bodyX .row {
  margin: 0; }
.bodyX .bodyHeader {
  margin-bottom: 20px; }
  .bodyX .bodyHeader div {
    background: #F1F1F1 url("../images/aboutHeader.jpg") center/cover no-repeat;
    padding: 60px 0;
    text-align: center;
    color: #FFFFFF; }
    .bodyX .bodyHeader div h1 {
      margin: 0;
      font-size: 30px; }
.bodyX .bodyBody {
  margin-bottom: 10px; }
  .bodyX .bodyBody h3 ~ p {
    font-size: 16px;
    line-height: 1.6; }
.bodyX .accordion {
  margin: 0 auto; }
  .bodyX .accordion h2 {
    margin: 15px 10px; }
  .bodyX .accordion a .moreX {
    color: #ec509a !important; }
  .bodyX .accordion.familyX li:nth-child(1) {
    background-image: url("../images/family1.jpg"); }
  .bodyX .accordion.familyX li:nth-child(2) {
    background-image: url("../images/family2.jpg"); }
  .bodyX .accordion.familyX li:nth-child(3) {
    background-image: url("../images/family3.jpg"); }
  .bodyX .accordion.corporateX li:nth-child(1) {
    background-image: url("../images/corporate1.jpg"); }
  .bodyX .accordion.corporateX li:nth-child(2) {
    background-image: url("../images/corporate2.jpg"); }
  .bodyX .accordion.corporateX li:nth-child(3) {
    background-image: url("../images/family3.jpg"); }
  .bodyX .accordion.governmentX li:nth-child(1) {
    background-image: url("../images/government1.jpg"); }
  .bodyX .accordion.governmentX li:nth-child(2) {
    background-image: url("../images/government2.jpg"); }
  .bodyX .accordion.governmentX li:nth-child(3) {
    background-image: url("../images/government3.jpg"); }
  .bodyX .accordion.governmentX li:nth-child(4) {
    background-image: url("../images/government4.jpg"); }
  .bodyX .accordion.societyX li:nth-child(1) {
    background-image: url("../images/society1.jpg"); }
  .bodyX .accordion.societyX li:nth-child(2) {
    background-image: url("../images/society2.jpg"); }
  .bodyX .accordion.societyX li:nth-child(3) {
    background-image: url("../images/society3.jpg"); }
  .bodyX .accordion.societyX li:nth-child(4) {
    background-image: url("../images/society4.jpg"); }
  .bodyX .accordion.societyX li:nth-child(5) {
    background-image: url("../images/society5.jpg"); }
  .bodyX .accordion.resourcesX li:nth-child(1) {
    background-image: url("../images/resources1.jpg"); }
  .bodyX .accordion.resourcesX li:nth-child(2) {
    background-image: url("../images/resources2.jpg"); }
  .bodyX .accordion.resourcesX li:nth-child(3) {
    background-image: url("../images/resources3.jpg"); }
  .bodyX .accordion.resourcesX li:nth-child(4) {
    background-image: url("../images/resources4.jpg"); }
  .bodyX .accordion.movingTipsX li:nth-child(1) {
    background-image: url("../images/movingTips1.jpg"); }
  .bodyX .accordion.movingTipsX li:nth-child(2) {
    background-image: url("../images/movingTips2.jpg"); }
  .bodyX .accordion.movingTipsX li:nth-child(3) {
    background-image: url("../images/movingTips3.jpg"); }
  .bodyX .accordion.movingTipsX li:nth-child(4) {
    background-image: url("../images/movingTips4.jpg"); }
  .bodyX .accordion.movingTipsX li:nth-child(5) {
    background-image: url("../images/movingTips5.jpg"); }
.bodyX .titlesAccordionX h3 a:before {
  content: "\f003"; }
.bodyX .titlesAccordionX .nav-pills > li {
  width: 100%; }
.bodyX .titlesAccordionX img {
  width: 50%;
  margin: 15px; }
.bodyX .contentAccordionX h4 a:before {
  content: "\f072";
  visibility: hidden; }
.bodyX .contentAccordionX h4 a.activeLink:before {
  content: "\f072";
  visibility: visible; }
.bodyX .contentAccordionX .tab-content {
  margin-top: 60px; }
.bodyX .accordionX .panel-heading h4:before {
  content: "\f078"; }
.bodyX .accordionX .panel-heading .collapsed h4:before {
  content: "\f054"; }
.bodyX .accordionX .panel-body img {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px; }
.bodyX .accordionX .panel-body p {
  text-align: justify; }
.bodyX .nav-pills > li > a {
  background-color: transparent;
  color: #1b75bc; }
  .bodyX .nav-pills > li > a:hover, .bodyX .nav-pills > li > a:focus {
    background-color: transparent;
    color: #ec509a; }
.bodyX .nav-pills > li.active > a, .bodyX .nav-pills > li.active > a:focus, .bodyX .nav-pills > li.active > a:hover {
  background-color: transparent;
  color: #ec509a; }
.bodyX .tab-content img {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px; }
.bodyX .tab-content p {
  text-align: justify; }
.bodyX .panel-title a {
  color: #1b75bc !important; }
.bodyX .panel {
  background-color: transparent; }
.bodyX .location-box {
  margin-top: 30px;
  text-align: center;
  background: #dedede;
  padding: 30px 30px 15px 30px;
  border-bottom: 3px solid #0f75bd;
  border-radius: 8px 8px 0 0; }
  .bodyX .location-box img {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border: 6px solid #FFF; }
  .bodyX .location-box .location-name {
    margin: 20px 0 5px;
    font-size: 24px;
    color: #0f75bd;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
.bodyX input.form-control[type="submit"] {
  background-color: #1b75bc;
  color: #fff; }
