@charset "utf-8";
/* CSS Document */
.slideshow {
  list-style: none;
  z-index: 1;
	margin: 0;
}

.slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 10s linear infinite 0s;
  -moz-animation: imageAnimation 10s linear infinite 0s;
  animation: imageAnimation 10s linear infinite 0s;
}
.slideshow li h3 {
    position: absolute;
    text-align: center;
    left: auto;
    left: 10%;
    font-size: 3em;
    font-family: futurastd, Arial;
    text-transform: inherit;
    color: #ffffff;
    -webkit-animation: titleAnimation 10s linear 1 0s;
    -moz-animation: titleAnimation 10s linear 1 0s;
    animation: titleAnimation 10s linear 1 0s;
    z-index: 10000000000;
    background: rgba(168, 169, 173, 0.42);
    padding: 20px;
    float: left;
    bottom: 35%;
    font-weight: 600;
}
.slideshow li h4 {
    position: absolute;
    text-align: center;
    left: 17%;
    font-size: 2.5em;
    font-family: 'futurastd';
    color: #ffffff;
    -webkit-animation: titleAnimation 10s linear 1 0s;
    -moz-animation: titleAnimation 10s linear 1 0s;
    animation: titleAnimation 10s linear 1 0s;
    z-index: 10000000000;
    background: rgba(168, 169, 173, 0.42);
    padding: 20px;
    float: left;
    bottom: 18%;
}



.slideshow li:nth-child(1) span { background-image: url("images/1600.jpg"); }

.slideshow li:nth-child(2) span {
  background-image: url("images/1700.jpg");
  -webkit-animation-delay:3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.slideshow li:nth-child(3) span {
  background-image: url("images/1800.jpg");
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.slideshow li:nth-child(4) span {
  background-image: url("images/1900.jpg");
  -webkit-animation-delay: 9s;
  -moz-animation-delay: 9s;
  animation-delay: 9s;
}
 @-webkit-keyframes 
imageAnimation {  0% {
 opacity: 0;
 -webkit-animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@-moz-keyframes 
imageAnimation {  0% {
 opacity: 0;
 -moz-animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -moz-animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@keyframes 
imageAnimation {  0% {
 opacity: 0;
 -webkit-animation-timing-function: ease-in;
 -moz-animation-timing-function: ease-in;
 animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -webkit-animation-timing-function: ease-out;
 -moz-animation-timing-function: ease-out;
 animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@-webkit-keyframes 
titleAnimation {  0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@-moz-keyframes 
titleAnimation {  0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@keyframes 
titleAnimation {  0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}

.no-cssanimations .slideshow li span { opacity: 1; }


