/* Scss Document X-Team */
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

$font-main: 'Roboto', sans-serif;
$font-highlight: 'Oswald', sans-serif;

$color-main: #337ab7;
$color-secondary: #ec509a;
$color-gray: #292929;
$color-gray-light: #6D6E72;

@mixin break($length) {
	@media (max-width: $length) {
		@content;
	}
}

@mixin fontAwesomeX($content: \f078) {
    content: $content;
    font-family: FontAwesome;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

html, body {
	height: 100%;
    position:relative;
}

body {
    font-family: $font-main;
	margin: 0;
	padding: 0;
}

#masterX #pageX {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    backtround-size: cover;
}

.pr-0 {
	padding-right: 0;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.mt-10 {
	margin-top: 10px;
}

h3 {
	color: $color-main;
}

.fontAwesomeX {
   font-family: FontAwesome;
   display: inline-block;
   padding-right: 3px;
   vertical-align: baseline;
}

.activeLink {
    font-weight: 600;
}

.inActiveLinks {
    color: $color-gray-light;
}

.visibilityHidden {
    visibility: hidden;
}

a {
    color: $color-main;
    text-decoration: none;

    &:hover, &:focus {
        color: $color-secondary;
        text-decoration: none;
    }
}

iframe {
	margin: 30px 0 0 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: futurastd, Arial;
    vertical-align: baseline;
	width: 100%;
	height: 650px;
}

.img-responsive {
	width: 100%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: right;
    min-width: 200px;
    padding: 15px 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #292929;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 8px;
}

.btn-link:hover, .btn-link:focus {
	color: #0f75bd !important;
	text-decoration: none;
}

//slideshow X-Team start
#background-carousel{
	position:fixed;
	width:100%;
	height:100%;
	z-index:0;
    margin: 0;
}
.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}

.carousel-caption h3 {
	width: 100%;
    position: absolute;
    left: -20%;
    background: rgba(168, 169, 173, 0.42);
    padding: 20px;
    float: left;
    font-size: 3em;	
    bottom: 320%;
	color: #fff;
	
	@include break(768px) {
		font-size: 2em;
		left: 0;
		bottom: 350%;
	}
}
.carousel p {
	width: 100%;
    position: absolute;
    left: 0%;
    background: rgba(168, 169, 173, 0.42);
    padding: 20px;
    float: left;
    font-size: 1.5em;
    bottom: 120%;
		
	@include break(768px) {
		font-size: 1.2em;
		left: 0;
		bottom: 120%;
	}
}
//slideshow X-Team end

// header x-team start
header {
    background-color: rgba(255, 255, 255, 0.82);
    padding: 6px 0 6px 0;
    z-index: 1000000;
    position: relative;
    border-bottom: 3px solid rgba(0, 0, 0, 0.22);
}

.header-top {
	div > div {
//		display: inline-block;
	}
}

.header-top-menu {
    font-size: 12px;
	
	li {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	
	li:hover {
		text-decoration: none;
	}
	
	ul {
		margin-bottom: 0px;
		padding-left: 0;
	}
	
	ul li a {
		text-decoration: none;
		font-size: 13px;
		color: #6D6E72;
	}
	
	ul li a:hover {
		color: #0f75bd !important;
	}
}

.header-top-phone {
    a {
        font-size: 16px ;
        font-family: $font-main !important;
		text-decoration: none;
		color: #6D6E72;
    }
	
	&:hover {
		color: #0f75bd !important;
		text-decoration: none;
	}
	
	i {
		margin-right: 5px;
	}

}

.header-top-search {
	padding-right: 0;
	padding-left: 22px;
	padding-top: 5px;
	padding-bottom: 5px;
	
    input {
		padding: 2px 12px;
		height: 26px;
        border-radius: 27px !important;
        border: none;
        color: #000 !important;
        float: left;
        margin: 0;
        width: 99%;

        &:focus + span {
            z-index: 3;
        }
    }

    button {
        border: 0;
        background: none;
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        top: -1px;
        left: -28px;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        &:hover, &:focus, &:active, &:active:hover {
            background-color: transparent;
            border-color: transparent;		
        }
    }
}
// header x-team end

// navbar X-Team Start
.navX {
	margin-bottom: 0;
	
    &.navbar-default {
        background-color: transparent;
        border-color: transparent;
    }

    .navbar-brand {
        padding: 0px 15px;
		height: auto;
    }
	
	.navbar-toggle.collapsed  {
		margin-top: 18px;
	}

    .topLevelX > a {
        padding-top: 26px !important;
        padding-bottom: 26px !important;
    }

    //menu style Start
    .navbar-nav li a {
        border-left: none;
        border-right: none;
        transition: all 0.3s ease-in-out 0s;
        padding: 4px 17px;
        color: #6D6E72;
        font-family: $font-main;
        font-size: 16px;
    }
    .navbar-nav li a:hover {
        color: #1d8cda;
        background: #292929;
    }

    .nav>li>a:focus, .nav>li>a:hover, .nav>li>a:focus {
        background: none;
        outline: none;
		background-color: none;
    }

    .navbar-nav>li>.dropdown-menu {
        display: none;
    }
    .navbar-nav>li:hover>.dropdown-menu {
        display: block;
        border-radius: 8px;
		background-color: #292929;
    }
    .navbar-nav>li:hover>.dropdown-menu li {
        padding: 7px 0;
    }

    .navbar-nav>li:hover>.dropdown-menu li a {
        font-size: 15px;
    }
    .dropdown-menu>li>a {
        white-space: normal;
    }

    .dropdown-menu>li>a {
        color: #fff !important;
    }
    .dropdown-menu>li>a:hover {
        color: #4599d4 !important;
    }

    .dropdown-menu>li>a>img {
        display: none;
    }

    .dropdown-menu li a:hover img {
        display: block;
        position: absolute;
        left: 90%;
        height: 100%;
        background: #292929;
        padding: 20px;
//        width: 100%;
        top: 0;
        border-radius: 8px;
    }
    //menu style end
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
}
// navbar X-Team end

// footer X-Team Home start
#footerHome {
    background: rgba(62, 62, 62, 0.63);
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding: 10px 0 4px 0;
    
    &.footerHomeX {
        position: absolute;
    }

	a {
		text-decoration: none;
		text-align: right;
		font-size: 13px;
		color: #fff;
		line-height: 37px;
	}
	a img {
		padding: 10px;
		display: inline-block;
	}
	a:hover, a:focus, a:active {
		color: $color-secondary;
		text-decoration: none !important;
	}
	
	ul {
		list-style: none;
		text-align: center;
		padding-left: 0;
	}
	ul li {
		display: inline-block;
		margin: 0 10px;
	}
	ul li a {
		font-size: 16px;
		transition: .3s;
	}
	
	.partners-ul {
		position: relative;
		list-style: none;
		text-align: center;
	}
	.partners-ul li {
		text-align: center;
		display: inline-block;
	}
	.partners-ul>li>a {
//		font-size: 18px;
	}
	.partners-ul li .partner-dropup {
		display: none;
		position: fixed;
		opacity: 0;
		bottom: -250px;
		width: 100%;
		transition: .5s;
		background: #1b1b1b;
		border-radius: 8px;
		padding: 50px 0 5px;
		border: 1px solid #131313;
	}
	.partners-carousel-title {
		text-align: center;
		color: #FFF;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.owl-carousel {
		display: none;
		position: relative;
		width: 100%;
		-ms-touch-action: pan-y;
	}

	.partners-ul li:hover .partner-dropup {
		display: block;
		opacity: 1;
		bottom: 0px;
		left: 0;
		z-index: 99999999999999999;
	}

	 p {
		text-decoration: none;
		font-size: 13px;
		color: #fff;
		line-height: 37px;
	}
}
// footer X-Team Home end


// footer X-Team Master start
#moving-monuments {
    position: relative;
    width: 100%;
    background-image: url("../images/monumentsBg.png");
    background-position: center;
    background-repeat: repeat-x;
    
    & + div {
        background-color: $color-gray;
    }
}

#footer-content {
    color: #fff;
	
	a {
//		color: $color-secondary;
	}
}
// footer X-Team Master end 

// bodyX X-Team Master start 
.bodyX {
	.row {
		margin: 0;
	}
	
	// bodyHeader X-Team Master start 
	.bodyHeader {
		margin-bottom: 20px;
		
		div {
			background: #F1F1F1 url('../images/aboutHeader.jpg') center/cover no-repeat;
			padding: 60px 0;
			text-align: center;
			color: #FFFFFF;

			h1 {
				margin: 0;
				font-size: 30px;
			}
		}
	}
	
	.bodyBody {
		margin-bottom: 10px;
		
		h3 ~ p {
			font-size: 16px;
			line-height: 1.6;
		}
		
		.img-main {
//			margin-top: 40px;
		}
	}
	// bodyHeader X-Team Master end 

	// accordionX X-Team Master start 
	.accordion {
		margin: 0 auto;
		
		h2 {
			margin: 15px 10px;
		}
		
		a .moreX {
			color: $color-secondary !important;
		}

		&.familyX {			
			li:nth-child(1) {
				background-image: url('../images/family1.jpg');
			}
			li:nth-child(2) {
				background-image: url('../images/family2.jpg');
			}
			li:nth-child(3) {
				background-image: url('../images/family3.jpg');
			}
		}
		
		&.corporateX {
			li:nth-child(1) {
				background-image: url('../images/corporate1.jpg');
			}
			li:nth-child(2) {
				background-image: url('../images/corporate2.jpg');
			}
			li:nth-child(3) {
				background-image: url('../images/family3.jpg');
			}
		}
		
		&.governmentX {
			li:nth-child(1) {
				background-image: url('../images/government1.jpg');
			}
			li:nth-child(2) {
				background-image: url('../images/government2.jpg');
			}
			li:nth-child(3) {
				background-image: url('../images/government3.jpg');
			}
			li:nth-child(4) {
				background-image: url('../images/government4.jpg');
			}
		}
		
		&.societyX {
			li:nth-child(1) {
				background-image: url('../images/society1.jpg');
			}
			li:nth-child(2) {
				background-image: url('../images/society2.jpg');
			}
			li:nth-child(3) {
				background-image: url('../images/society3.jpg');
			}
			li:nth-child(4) {
				background-image: url('../images/society4.jpg');
			}
			li:nth-child(5) {
				background-image: url('../images/society5.jpg');
			}
		}
		
		&.resourcesX {
			li:nth-child(1) {
				background-image: url('../images/resources1.jpg');
			}
			li:nth-child(2) {
				background-image: url('../images/resources2.jpg');
			}
			li:nth-child(3) {
				background-image: url('../images/resources3.jpg');
			}
			li:nth-child(4) {
				background-image: url('../images/resources4.jpg');
			}
		}
				
		&.movingTipsX {
			li:nth-child(1) {
				background-image: url('../images/movingTips1.jpg');
			}
			li:nth-child(2) {
				background-image: url('../images/movingTips2.jpg');
			}
			li:nth-child(3) {
				background-image: url('../images/movingTips3.jpg');
			}
			li:nth-child(4) {
				background-image: url('../images/movingTips4.jpg');
			}
			li:nth-child(5) {
				background-image: url('../images/movingTips5.jpg');
			}
		}
	// accordionX X-Team Master end 
	}
	
	// accordionX internal X-Team Start
    .titlesAccordionX {
		h4 a {
			&:before {
				@extend .fontAwesomeX;
				content: "\f072";
				visibility: hidden;
			}
			&.activeLink {
				&:before {
					@extend .fontAwesomeX;
					content: "\f072";
					visibility: visible;
				}			
			}
		}
		h3 a {
			&:before {
				@extend .fontAwesomeX;
				content: "\f003";
			}
		}
    }
	.accordionX {
		.panel-heading {
			h4:before {
                @extend .fontAwesomeX;
                content: "\f078";
			}
            
            .collapsed h4:before {
			   content: "\f054";
			}
		}
		
        .panel-body {
            img {
                float: right;
                margin-left: 15px;
                margin-bottom: 15px;
            }
            p {
                text-align: justify;
            }
        }
	}
	// accordionX internal X-Team end
	
	// Tabbed PanelsX X-Team Start
	.nav-pills>li>a {
		background-color: transparent;
		color: $color-main;
		
		&:hover, &:focus {
			background-color: transparent;
			color: $color-secondary;
		}
	}

	.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		background-color: transparent;
        color: $color-secondary;
	}
	
	.tab-content {
		img {
			float: right;
			margin-left: 15px;
			margin-bottom: 15px;
		}
		p {
			text-align: justify;
		}
	}
	
	.panel-title a {
		color: $color-main !important;
	}
	
	.panel {
		background-color: transparent;
	}
	// Tabbed PanelsX X-Team end
	
	// Team locations X-Team start
	.location-box {
		margin-top: 30px;
		text-align: center;
		background: #dedede;
		padding: 30px 30px 15px 30px;
		border-bottom: 3px solid #0f75bd;
		border-radius: 8px 8px 0 0;
		
		img {
			-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
			box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
			border: 6px solid #FFF;
		}
		
		.location-name {
			margin: 20px 0 5px;
			font-size: 24px;
			color: #0f75bd;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	// Team locations X-Team end

}
// bodyX X-Team Master end 